/* font style */

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Nav style */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.text-color{
    color: #4E47FF;
    font-size: 34px;
}
/* shared button */
.button-style{
    background-color: #4E47FF;
    padding: 12px 36px;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;

}
.button-style:hover{
    background-color: yellow;
    color: black;
    cursor: pointer;
}
/* banner */
.heading-font{
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    
}
 .banner{
    margin:158px 267.5px 152px;
 }
 .button-center{
     
    display: block;
    margin: auto;
     
 }
 header{
    background-image: url('../Assets/Hero-bg.png');
    height: 698px;
 }
 body{
    background-color: #f5f7ff;
 }
 main{
    max-width: 1140px;
    margin:0 auto;
    
    
 }
 /* Action section */
 .titel{
    font-size: 42px;
    font-weight: bold;
 }
 .subtitel{
    color: #252432;
    font-size: 24px;
 }
 .Action-section{
    display: flex;
    justify-content:space-between ;
    gap: 220px;
    margin-top: 116px;
 }
 .right-side-image img{
    border-radius: 48px;
 }
 /* productive user section */
 .productive-user-section
 {
    margin-top: 116px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    padding: 45px;
    
 }
 .center-title h2{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    

 }
 .three-data-subtitel{
    display: flex;
    justify-content: space-around;
    padding: auto auto 50px; 
     
     
    
 }
 .data-titel h3{
     
    font-size: 80px;
    font-weight: bold;
    margin: 0px;
    color:#4E47FF;
     

 }
 .data-titel p{
    font-size: 20px;
    color: #000000;
    margin:0
 }
 /* feedback section */
 .user-feedback h2{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
 }
 .star-icon{
    display: flex;
 }
 .reviewer{
    display: flex;
    gap:12px;
    align-items: center;

 }
 .reviewer img{
    width: 40px;
    height: 40px;
    
    border-radius: 999px;
 }
 .card{
     width: 300px;
     padding: 24px;
     background-color:  rgba(255, 255, 255, 0.5);
     border-radius: 14px;
     border:0.5px solid #ffb8056c;
 }
 .feedback-titel{
    font-size: 29px;
 }
 .feedback-subti{
    font-size: 20px;
 }
 .card-container{
    display: flex;
    justify-content: space-around;
    
 }
 .user-feedback{
    margin-top:116px ;
 }
 /* ready section */
 .ready-section{
    background-color: white;
    margin-top: 137px;
     
 }
 
 .text-part h2{
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding: 71px 312px 20px;
     
     
 }
 .text-part p{
    font-size: 18px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
     
     
 }
 .ready-image img{
    border-radius: 48px;
    margin: 20px 150px 71px;
 }
 /* touch section */
 .touch-section{
    display: flex;
    align-items: center;
    margin-top: 92.23px;
    margin-bottom: 71px;
 }
 .left-side-titel{
    font-size: 55px;
    font-weight: bold;
    
}
.right-side-form input[type="email"],.right-side-form input[type="text"]
{
    margin-bottom: 24px;
    height: 30px;
    border-radius: 10px;
    background-color: white;
    display: block;
    border: none;
    padding: 20px 271px 20px 32px;
}
.right-side-form textarea{
    height: 135px;
    display: block;
    width: 100%;
    margin-bottom: 24px;
    border: none;
    border-radius: 10px;
    
}
.right-side-form button{
    width: 100%;
     
}
.label-style{
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
textarea::placeholder{
    padding: 30px 257px 85px 32px;
    font-size: 15px;
    
}
/* footer section */
footer{
    background-color: white;
    
    
}
.footer-part{
    max-width: 700px;
    margin: 0 auto;
    padding: 104px;
}
.logo h2{
    font-size: 100px;
    color: #4E47FF;
    text-align: center;
    margin: 0;
}
.logo p{
    font-size: 20px;
    color: #8987A1;
    text-align: center;
     
    
}
.service-container ul{
    list-style: none;
}
.service-container a{
    text-decoration: none;
    color: #000000;
}
.service-container ul{
    display: flex;
    justify-content: center; 
    gap: 48px;
    margin: 20px;
}
.service-container li:hover{
    background-color:yellow;
    color: black;
    font-weight: bold;

}
 